{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current_password" placeholder="Current Password" minlength="4" maxlength="32" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password" placeholder="New Password" minlength="4" maxlength="32" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password_confirmation" placeholder="New Password (again)" minlength="4" maxlength="32" type="password" required/>
        </div>

        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}